<div class="navigation">
  <button class="btn btn-sm btn-secondary disabled" id="previousPage">Previous</button>
  <button class="btn btn-sm btn-secondary disabled" id="nextPage">Next</button>
</div>
