<%= erb :'partials/header', :locals => { title: "Suricata Training" } %>

<body>
    <div class="container-fluid">
      <%= erb :'partials/sidebar', :locals => { levels: levels } %>

      <!-- Main Content Column -->
      <div class="main-content">
          <h1>Main Content</h1>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <p>This is where your main content goes. It can be longer and will scroll.</p>
          <!-- Add more content here -->
      </div>
    </div>
    <%= erb :'partials/scripts' %>
    <script src="/index.js"></script>
</body>
</html>
